html {
    zoom: calc(100vw / 1914.67px);
}
.IDD-FIGMA-PAGE-4-info-page {
    /* IDD FIGMA PAGE 4(info page) */

position: relative;
width: 1920px;
height: 5118.67px;

background: #FFFFFF;

}

.IDD-FIGMA-PAGE-4-info-page .page-4{
    /* page 4 */

position: absolute;
width: 1920px;
height: 5119px;
left: -5px;
top: 0px;


}

.IDD-FIGMA-PAGE-4-info-page .page-4 .header{
    /* header */

position: absolute;
width: 1920px;
height: 268px;
left: 5px;
top: 0px;


}

.IDD-FIGMA-PAGE-4-info-page .page-4 .header .top-panel{
    /* top panel */

position: absolute;
left: 2.06%;
right: 2.08%;
top: 0%;
bottom: 93.02%;


}

.IDD-FIGMA-PAGE-4-info-page .page-4 .header .top-panel .heart{
    /* heart */

position: absolute;
left: 87.74%;
right: 2.08%;
top: 0.29%;
bottom: 95.49%;


}

.IDD-FIGMA-PAGE-4-info-page .page-4 .header .top-panel .heart .Heart{
    /* Heart */

position: absolute;
top: 13px;
left: 50%;
transform: translateX(-50%);
width: 98px;
height: 98px;

}

.IDD-FIGMA-PAGE-4-info-page .page-4 .header .top-panel .heart .click-me{
   /* click me */

position: absolute;
top: 119px;
left: 50%;
transform: translateX(-50%);
white-space: nowrap;

font-family: 'Inclusive Sans';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #000000;

}

.IDD-FIGMA-PAGE-4-info-page .page-4 .header .top-panel .sound{
    /* sound */

position: absolute;
left: 74.23%;
right: 15.58%;
top: 0.94%;
bottom: 95.49%;


}

.IDD-FIGMA-PAGE-4-info-page .page-4 .header .top-panel .sound .Speaker{
    /* Speaker */

position: absolute;
top: 13px;
left: 50%;
transform: translateX(-50%);
width: 98px;
height: 98px;

}

.IDD-FIGMA-PAGE-4-info-page .page-4 .header .top-panel .sound .click-me{
    /* click me */

position: absolute;
top: 119px;
left: 50%;
transform: translateX(-50%);
white-space: nowrap;

font-family: 'Inclusive Sans';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #000000;

}

.IDD-FIGMA-PAGE-4-info-page .page-4 .header .top-panel .silence{
    /* silence */

position: absolute;
left: 60.73%;
right: 29.09%;
top: 0.29%;
bottom: 95.49%;


}

.IDD-FIGMA-PAGE-4-info-page .page-4 .header .top-panel .silence .Silence{
    /* Silence */

position: absolute;
top: 13px;
left: 50%;
transform: translateX(-50%);
width: 98px;
height: 98px;

}

.IDD-FIGMA-PAGE-4-info-page .page-4 .header .top-panel .silence .click-me{
/* click me */

position: absolute;
top: 119px;
left: 50%;
transform: translateX(-50%);
white-space: nowrap;

font-family: 'Inclusive Sans';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #000000;

}

.IDD-FIGMA-PAGE-4-info-page .page-4 .header .top-panel .ear{
    /* ear */

position: absolute;
left: 47.22%;
right: 42.6%;
top: 0.63%;
bottom: 95.49%;


}

.IDD-FIGMA-PAGE-4-info-page .page-4 .header .top-panel .ear .Ear{
    /* Ear */

position: absolute;
top: 13px;
left: 50%;
transform: translateX(-50%) rotate(-5.66deg);
width: 98px;
height: 98px;

}

.IDD-FIGMA-PAGE-4-info-page .page-4 .header .top-panel .ear .click-me{
    /* click me */

position: absolute;
top: 119px;
left: 50%;
transform: translateX(-50%);
white-space: nowrap;

font-family: 'Inclusive Sans';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

color: #000000;

}

.IDD-FIGMA-PAGE-4-info-page .page-4 .header .top-panel .text{
    /* text */

position: absolute;
width: 525px;
height: 221px;
left: 5px;
top: 13px;


}

.IDD-FIGMA-PAGE-4-info-page .page-4 .header .top-panel .text .AirPods-Pro-3 {
    /* AirPods Pro 3 */

position: absolute;
width: 700px;
left: 20px;
top: 0px;

font-family: 'Inclusive Sans';
font-style: italic;
font-weight: 400;
font-size: 96px;
line-height: 116px;

color: #000000;

}

.IDD-FIGMA-PAGE-4-info-page .page-4 .header .top-panel .text .The-worlds-best-Active-Noise-Cancellation {
    /* The world's best Active Noise Cancellation. */

position: absolute;
width: 800px;
left: 20px;
top: 116px;

font-family: 'Inclusive Sans';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #000000;

}




